<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        @*<img src="@Url.Action("DisplayArticlePhoto", "Article", new { artId = Model.Id})" height="42" width="42" />*@
        Continut articol: <strong>@Model.Content</strong>
        <br />
        <span class="label label-success">@Model.Date</span>
        <br />
        <i class="glyphicon glyphicon-globe"></i> @Model.Category.CategoryName
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Article/Show/@Model.Id">Afisare articol</a>
    </div>
</div>
<br />

