@model DAWProiect.Models.Article

@{
    ViewBag.Titlu = "Afisare stire";
}

@*<h2>@ViewBag.Titlu</h2>*@

<br />
@Html.Partial("ArticleShowPartial")

<a class="btn btn-sm btn-info" href="/Article/Edit/@Model.Id">
    Modifica stire
</a>
<br />
<form method="post" action="/Article/Delete/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-sm btn-danger" type="submit">Sterge stire</button>
</form>
<hr />
<a class="btn btn-sm btn-success" href="/Article/Index">Inapoi la stiri</a> <a class="btn btn-sm btn-success" href="/Article/New">Adauga stire</a>

<br />
<br />
<h2>Comentarii</h2>
<hr />
<br />
<br />

@foreach (var com in ViewBag.Comments)
{
    @*<p style="color:blue;">@com.User.UserName</p>
        <p>@com.Content</p>
        <p style="color:limegreen;">@com.Date</p>

        <form method="post" action="/Article/DeleteComm/@com.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-sm btn-danger" type="submit">Sterge comentariu</button>
        </form>*@
    <p style="color:blue;">@com.User.UserName</p>
    if (ViewBag.loggedInUser == com.UserId)
    {
        <form method="post" action="/Article/EditComm/@com.Id">
            <input type="text" name="Content" value="@com.Content" />
            <br /><br />
            <button class="btn btn-sm btn-warning" type="submit">Editeaza comentariu</button>
        </form>
    }
    else
    {
        <p>@com.Content</p>
    }

    <form method="post" action="/Article/DeleteComm/@com.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge comentariu</button>
    </form>

    <p style="color:limegreen;">@com.Date</p>
    <hr />
}


<form method="post" action="/Article/AddCom">
    <input type="hidden" name="ArticleId" value="@Model.Id" />
    <label>Comentariu:</label>
    <br />
    <input type="text" name="Content" />
    <button class="btn btn-sm btn-success" type="submit">Adauga comentariu</button>
</form>


